@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
	--darker-bg: #0d1117;
	--components-bg-dark: #151b23;
	--components-stroke-dark: #1e242b;
	--components-stroke-light: #3d444d;
	--components-green-bg: #2ea043;
	--components-green-stroke: #196c2e;
	--components-bg-light: #212830;
	--white-text: #f0f6fc;
	--button-danger-text: #fa5e55;
	--button-danger-active-bg: #d03533;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h2 {
	font-weight: 500;
	font-size: 2rem;
}

.app {
	font-family: 'Inter', sans-serif;
	display: flex;
	background-color: var(--darker-bg);
	min-height: 100vh;
	justify-content: center;
	flex-direction: column;
}

.calendar {
	flex: 1;
	max-width: 600px;
	margin: 1rem;
	color: var(--white-text);
	text-align: center;
}

.calendar-header {
	padding: 0.4rem 1rem;
	background-color: var(--components-bg-dark);
	border: 2px solid var(--components-stroke-dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 6px;
}

.calendar-header button {
	background: none;
	color: var(--white-text);
	border: none;
	font-size: 2rem;
	cursor: pointer;
	margin-top: 8px;
	transition: all ease-in-out 0.1s;
}

.calendar-header button:hover {
	opacity: 0.7;
}

.day-name {
	background-color: var(--components-bg-dark);
	border-radius: 3px;
	font-size: 0.6rem;
	padding: 0.3rem;
	flex: 1;
	border: 2px solid var(--components-stroke-dark);
}

.calendar-days,
.calendar-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 5px;
	margin-top: 10px;
}

.day-name {
	letter-spacing: 0.3ch;
}

.day {
	flex: 1;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--components-stroke-dark);
	background: var(--components-bg-dark);
	transition: all ease-in-out 0.1s;
	border-radius: 6px;
	font-size: 1.2rem;
}

.day.selected,
.yearly-day.selected {
	border-color: var(--components-stroke-dark);
	background: var(--components-green-bg);
	color: var(--white-text);
}

.yearly-view {
	display: flex;
	gap: 4px;
	overflow-x: auto;
	background-color: var(--darker-bg);
}

.week-column {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.yearly-day {
	width: 10px;
	height: 10px;
	background-color: var(--components-bg-dark);
	border-radius: 2px;
}

.tooltip {
	position: fixed;
	background-color: var(--components-bg-dark);
	color: var(--white-text);
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid var(--components-stroke-light);
	font-size: 12px;
	pointer-events: none;
	white-space: nowrap;
	z-index: 1000;
}

.yearly-view-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: var(--darker-bg);
	overflow-x: auto;
	border: 1px solid var(--components-stroke-light);
	border-radius: 4px;
	padding: 0.7em 0.5rem;
	margin-top: 2rem;
}

.month-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 800px;
	padding: 5px 0;
	font-size: 0.8rem;
	gap: 2.4rem;
}

.yearly-view-container::-webkit-scrollbar {
	width: 1.5rem;
	height: 1.2rem;
}

/* Scrollbarens "thumb" (själva rullningsfältet) */
.yearly-view-container::-webkit-scrollbar-thumb {
	background-color: var(--components-bg-dark);
	border-radius: 4px;
	border: 1px solid var(--components-stroke-light);
}

.yearly-view-container::-webkit-scrollbar-thumb:active {
	background-color: var(--components-stroke-dark);
}

/* Scrollbarens spår (bakgrunden) */
.yearly-view-container::-webkit-scrollbar-track {
	background-color: var(--components-stroke-light);
}

button {
	background-color: var(--components-bg-light);
	border: 1px solid var(--components-stroke-light);
	color: var(--white-text);
	padding: 1rem;
	border-radius: 6px;
	margin-top: 2rem;
	cursor: pointer;
	transition: all ease-in-out 0.1s;
}

button:hover {
	background-color: #252c34;
}

button:active {
	background-color: #2f3740;
}

button.danger {
	color: var(--button-danger-text);
}

@media (min-width: 568px) {
	button.danger:hover {
		background-color: var(--button-danger-active-bg);
		color: var(--white-text);
	}
	.day.filled:hover {
		border-color: var(--components-green-bg);
		cursor: pointer;
	}
}

/* Mobile-friendly adjustments */
@media (max-width: 568px) {
	.app {
		flex-direction: column;
	}

	h2 {
		font-size: 1.4em;
	}
	.calendar {
		width: 100%;
		max-width: none;
		margin: 0.4rem;
	}

	.calendar-header button {
		padding: 0.2rem;
	}

	.day-name {
		font-size: 0.5rem;
		padding: 0.2rem;
	}

	.day {
		font-size: 1rem;
	}

	.yearly-day {
		width: 12px;
		height: 12px;
	}

	.tooltip {
		font-size: 10px;
	}

	/* Adjust scrollbar for smaller screens */
	.yearly-view-container::-webkit-scrollbar {
		width: 1rem;
	}
}
